<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>View Pet</title>
    </head>
    <body>
        <h1><%= pet.name %></h1>
        <h2><%= pet.petType %></h2>

        <footer>
            <a href="/pets">All Pets</a>
        </footer>
    </body>
</html>